@font-face {
    font-family: "Alegreya Sans";
    src: url(/fonts/AlegreyaSans-Bold.woff), url(/fonts/AlegreyaSans-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url(/fonts/AlegreyaSans-Regular.woff), url(/fonts/AlegreyaSans-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url(/fonts/AlegreyaSans-Light.woff), url(/fonts/AlegreyaSans-Light.woff2);
    font-weight: 300;
}