//breakpoints
$tabletWidth: 768px;
$phoneWidth: 480px;

$containerWidth: 940px;
$fontSize: 18px;
$z-indexFixed-menu: 100;


$white: #fff;
$black: #000;
$midGreyText: #666666;
$greenText: #365a49;
$hoverColor: #2e4e3f;
