* {
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Alegreya Sans", "Arial", sans-serif;
    line-height: 1.42;
    
    color: #666666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: $containerWidth;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
}