.hero {
  background: url("/img/hero/hero-bg.png") 85% center no-repeat,
              url("/img/hero/big-leaf.png") right bottom no-repeat;
              
  background-color: #86c3d7;
  color: $white;
  position: relative;

  &:after {
      content: '';
      position: absolute;
      width: 332px;
      height: 119px;
      top: 89%;
      left: 65%;
      background: url("/img/hero/leaf-bg.png") left top no-repeat,
                  url("/img/hero/berry-bg.png") right bottom no-repeat;
      z-index: 100;
  }

  @include tablets {

    &:before, &:after {
      display: none;
    }
  }
}

.hero__container {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero__description {
  width: 470px;

  @include tablets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__title {
  padding-right: 150px;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;

  @include tablets {
    padding-right: 0;
    text-align: center;
  }
}

.hero__subtitle {
  max-width: 21rem;
  padding-right: 2rem;
  font-size: 21px;
  margin-top: 1.1rem;
  margin-bottom: 1.4rem;

  @include tablets {
    padding-right: 0;
    text-align: center;
  }
}

.hero__button {
  margin-bottom: 65px;
}